body {
    background-color: #cfdee7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game_images {
    width: 250px;
}

.nature_images {
    width: 300px;
}

.music_images {
    width: 300px;
}

.art_images {
    width: 300px;
}

#welcome_header {
    background-image: url("images/welcome_image.jpg");
    background-size: contain;
    width: 90%;
    height: 1000px;
}

#code_image {
    width: 600px;
}